# deploy.sh substitutes __DEMO_HOST__ (demo-<ip-dashes>.sslip.io until real DNS exists).
# When demo.klantkraan.nl gets a DNS record, add it in front of the sslip host.
__DEMO_HOST__ {
	reverse_proxy 127.0.0.1:8000
}
